* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #f6f8f9;
}

.wall {
  margin: auto;
  max-width: 1160px;
  width: 100%;
  overflow: hidden;
}

header {
  background-color: #f6f8f9;
  padding: 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar nav ul li {
  margin: 0 10px;
}

header .navbar nav ul li a {
  font-family: "Helvetica";
  font-weight: 600;
  font-size: 11px;
  color: #343638;
  text-transform: uppercase;
  opacity: 0.5;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

header .navbar nav ul li a:hover {
  opacity: 1;
}

header .navbar nav ul li .active-link {
  opacity: 1;
}

header .login {
  margin: 0 0 0 39px;
}

header .login .avatar-box {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

header .login .avatar-box img {
  position: absolute;
  max-width: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.primary-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.primary-section .world-news-block {
  position: relative;
  width: 58%;
  height: 600px;
  background-image: url("../images/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.primary {
  position: relative;
  overflow: hidden;
  height: 600px;
  z-index: 1;
  margin-top: -600px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.primary .world-block-info {
  overflow: hidden;
  width: 50%;
}

.primary .world-block-info h3 {
  padding: 0 0 40px;
  font-size: 24px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.primary .world-block-info h2 {
  padding: 40px 0 5px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Helvetica";
  color: #ffffff;
}

.primary .world-block-info article {
  font-family: "Helvetica";
  font-size: 16px;
  color: #ffffff;
}

.primary .world-block-info .btn-lmore {
  width: 134px;
  height: 40px;
  margin: 30px 0;
  color: #fff;
  font-size: 11px;
  font-family: "Helvetica";
  font-weight: bold;
  background-color: #fa6980;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
}

.primary .more-news {
  width: 33%;
  overflow: hidden;
}

.primary .more-news .wrap-items {
  width: 100%;
  overflow: hidden;
}

.primary .more-news .title-news-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 40px 0px;
  padding: 0 0 35px;
  border-bottom: 1px solid #EBEDED;
}

.primary .more-news .title-news-arrows .more-news-arrows {
  margin-top: 5px;
  margin-bottom: -5px;
}

.primary .more-news .title-news-arrows .more-news-arrows img {
  margin: 0px 0 10px 25px;
  cursor: pointer;
  outline: none;
}

.primary .more-news .title-news-arrows h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #202124;
}

.primary .more-news .more-new-items {
  display: block;
  position: relative;
  margin: 0 0 0;
  padding: 0 0 35px;
}

.primary .more-news .more-new-items .item-more-nw {
  margin-bottom: 30px;
}

.primary .more-news .more-new-items .item-more-nw h3 {
  margin: 0 0 12px;
  font-size: 16px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #fa6980;
}

.primary .more-news .more-new-items .item-more-nw h2 {
  margin: 0 0 6px;
  font-size: 16px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #202124;
}

.primary .more-news .more-new-items .item-more-nw article {
  font-size: 16px;
  font-family: "Acumin-Regular";
  color: #a6adb4;
}

.primary .more-news .more-new-items .item-more-nw .item-more-data {
  margin: 18px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.primary .more-news .more-new-items .item-more-nw .item-more-data img {
  margin-right: 10px;
  margin-top: -3px;
}

.primary .more-news .more-new-items .item-more-nw .item-more-data span {
  font-size: 13px;
  font-family: "Acumin-Regular";
  color: #a6adb4;
}

.trending {
  margin: 40px 0;
}

.trending .trending-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trending .trending-heading h2 {
  font-size: 24px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #202124;
}

.trending .trending-heading .trending-arrows img {
  margin: 0 0 0 25px;
  cursor: pointer;
  outline: none;
}

.trending .trending-items {
  position: relative;
  overflow: hidden;
  margin: 30px 0 0;
  width: 100%;
  white-space: nowrap;
}

.trending .trending-items .swiper-slide {
  width: 360px;
  margin-right: 36px;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
}

.trending .trending-items .swiper-slide .item-img {
  position: relative;
  height: 180px;
  overflow: hidden;
}

.trending .trending-items .swiper-slide .item-img img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 360px;
}

.trending .trending-items .swiper-slide .trending-info {
  padding: 43px 40px;
  overflow: hidden;
}

.trending .trending-items .swiper-slide .trending-info h2 {
  margin: 0 0 10px;
  font-family: "Helvetica";
  font-size: 16px;
  font-weight: bold;
  color: #202124;
}

.trending .trending-items .swiper-slide .trending-info article {
  line-height: 1.6;
  margin: 0 0 15px;
  font-family: "Acumin-Regular";
  font-size: 13px;
  color: #a6adb4;
  white-space: pre-wrap;
}

.trending .trending-items .swiper-slide .trending-info .trending-data {
  margin: 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trending .trending-items .swiper-slide .trending-info .trending-data img {
  margin-right: 10px;
  margin-top: -3px;
}

.trending .trending-items .swiper-slide .trending-info .trending-data span {
  font-size: 13px;
  font-family: "Helvetica";
  color: #a6adb4;
}

.happening .happening-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.happening .happening-heading h2 {
  font-size: 24px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #202124;
}

.happening .happening-heading .happening-arrows img {
  margin: 0 0 0 25px;
  cursor: pointer;
  outline: none;
}

.happening .happening-items {
  margin-top: 30px;
}

.happening .happening-items .happening-wrap .hp-large-items {
  display: inline-block;
  vertical-align: top;
}

.happening .happening-items .happening-wrap .hp-large-items .lrg-item {
  position: relative;
  width: 760px;
  height: 430px;
  margin: 0 0 41px;
  border-radius: 6px;
  overflow: hidden;
}

.happening .happening-items .happening-wrap .hp-large-items .lrg-item .poster-lrg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1000px;
}

.happening .happening-items .happening-wrap .hp-large-items .lrg-item .lrg-item-inf {
  position: absolute;
  top: 0px;
  left: 39px;
  margin-right: 39px;
}

.happening .happening-items .happening-wrap .hp-large-items .lrg-item .lrg-item-inf h4 {
  margin-top: 43px;
  font-size: 16px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #ffffff;
}

.happening .happening-items .happening-wrap .hp-large-items .lrg-item .lrg-item-inf h2 {
  margin-top: 220px;
  margin-bottom: 10px;
  font-size: 24px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #ffffff;
}

.happening .happening-items .happening-wrap .hp-large-items .lrg-item .lrg-item-inf article {
  margin-bottom: 16px;
  font-size: 16px;
  font-family: "Helvetica";
  font-weight: normal;
  color: #ffffff;
}

.happening .happening-items .happening-wrap .hp-large-items .lrg-item .lrg-item-inf .lrg-item-dt {
  margin: 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.happening .happening-items .happening-wrap .hp-large-items .lrg-item .lrg-item-inf .lrg-item-dt img {
  margin-right: 10px;
  margin-top: -3px;
}

.happening .happening-items .happening-wrap .hp-large-items .lrg-item .lrg-item-inf .lrg-item-dt span {
  font-size: 13px;
  font-family: "Helvetica";
  color: #a6adb4;
}

.happening .happening-items .happening-wrap .hp-small-items {
  display: inline-block;
  vertical-align: top;
  margin-left: 35px;
}

.happening .happening-items .happening-wrap .hp-small-items .small-item {
  margin-bottom: 43px;
}

.happening .happening-items .happening-wrap .hp-small-items .small-item .small-item-post {
  width: 360px;
  height: 210px;
  border-radius: 6px;
  overflow: hidden;
}

.happening .happening-items .happening-wrap .hp-small-items .small-item .small-item-post img {
  width: 360px;
}

.happening .happening-items .happening-wrap .hp-small-items .small-item h2 {
  margin: 15px 0;
  font-size: 16px;
  font-family: "AcuminPro-Bold";
  color: #202124;
}

.happening .happening-items .happening-wrap .hp-small-items .small-item .small-itm-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.happening .happening-items .happening-wrap .hp-small-items .small-item .small-itm-date img {
  margin: -1px 10px 0 0;
}

.happening .happening-items .happening-wrap .hp-small-items .small-item .small-itm-date span {
  font-family: "Helvetica";
  font-size: 13px;
  color: #a6adb4;
}

.happening .happening-items .happening-wrap .hp-small-items .small-item .small-itm-date span a {
  color: #a6adb4;
  text-decoration: underline;
}

.story {
  margin-top: 15px;
  margin-bottom: 92px;
  border-bottom: 2px solid #ebeded;
}

.story .story-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.story .story-heading .navigation img {
  float: left;
  margin-top: 0;
  margin-right: 15px;
}

.story .story-heading .navigation span {
  margin: 0 10px;
  font-size: 11px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #202124;
}

.story .story-heading .navigation .category-active {
  color: #a6adb4;
}

.story .story-heading .filter {
  padding: 9px 9px 6px;
  border-radius: 6px;
  border: 1px solid #ebeded;
}

.story .story-filter {
  height: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 6px;
}

.story .story-filter .wrd-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 50%;
  background-image: url("../images/story-cv1.png");
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.story .story-filter .wrd-news .wrd-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.story .story-filter .wrd-news .wrd-inf h3 {
  margin-bottom: 15px;
  padding: 0 0 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #ffffff;
}

.story .story-filter .wrd-news .wrd-inf h3:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  bottom: 0px;
  background-color: #fa6980;
}

.story .story-filter .wrd-news .wrd-inf span {
  padding: 10px 50px 50px;
  font-size: 16px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.story .story-filter .wrd-news .wrd-inf .wrd-avatar {
  position: relative;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
}

.story .story-filter .wrd-news .wrd-inf .wrd-avatar img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-47%);
          transform: translateX(-47%);
  max-width: 33px;
}

.story .story-filter .filter-tool {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.story .story-filter .filter-tool .select-wrap .select-tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  margin: 0 0 30px;
}

.story .story-filter .filter-tool .select-wrap .select-tool h4 {
  margin: 0 0 10px;
  font-size: 13px;
  font-family: "AcuminPro-Bold";
  color: #202124;
}

.story .story-filter .filter-tool .select-wrap .select-tool .select {
  width: 100%;
}

.story .story-filter .filter-tool .select-wrap .select-tool .select #standard-select {
  width: 100%;
  padding: 7px;
  border: 2px solid #ebeded;
  border-radius: 6px;
  font-size: 13px;
  font-family: "Helvetica";
  color: #a6adb4;
  outline: none;
}

.story .story-filter .filter-tool .select-wrap .select-tool .select #standard-select .rae {
  background: #000 !important;
}

.story .story-filter .filter-tool .select-wrap .select-tool .search-tool input {
  width: 100%;
  padding: 7px;
  border: 2px solid #ebeded;
  border-radius: 6px;
  font-size: 13px;
  font-family: "Helvetica";
  color: #a6adb4;
  outline: none;
}

.story .story-filter .filter-tool .select-wrap .search-btn {
  width: 134px;
  height: 40px;
  padding: 0 30px;
  background-color: #fa6980;
  font-size: 11px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #ffffff;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
}

.story .article-review {
  border-top: 2px solid #ebeded;
  border-bottom: 2px solid #ebeded;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 40px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.story .article-review .half-rev {
  padding-right: 40px;
}

.story .article-review .half-rev .aouthor-avatar {
  position: relative;
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
}

.story .article-review .half-rev .aouthor-avatar img {
  position: absolute;
  top: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 37px;
}

.story .article-review .half-rev h2 {
  width: 360px;
  font-size: 24px;
  font-family: "AcuminPro-Bold";
  color: #202124;
}

.story .article-review .article-rev .col-row-st {
  line-height: 26px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-fill: auto;
          column-fill: auto;
  height: 200px;
  color: #a6adb4;
  font-family: "Helvetica";
  font-size: 14px;
}

.story .article-review .article-rev .col-row-st .article-data {
  margin-top: 15px;
  font-size: 13px;
}

.story .article-review .article-rev .col-row-st .article-data img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.story .aditional-article {
  width: 100%;
  overflow: hidden;
}

.story .aditional-article .adit-img {
  overflow: hidden;
  position: relative;
  height: 500px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.story .aditional-article .adit-img img {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.story .aditional-article article {
  line-height: 20px;
  width: 60%;
  font-family: "Helvetica";
  font-size: 14px;
  color: #a6adb4;
  margin-bottom: 25px;
}

footer {
  position: relative;
  bottom: 0;
  margin-top: 30px;
  background-color: #a6adb4;
}

footer .wrap-footer {
  max-width: 1160px;
  width: 100%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .wrap-footer .footer-cats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .wrap-footer .footer-cats .block-cats {
  margin: 0 15px;
}

footer .wrap-footer .footer-cats .block-cats li a {
  display: block;
  margin: 0 0 10px;
  font-size: 13px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #cbd0d3;
}

footer .wrap-footer .subscribe input {
  width: 262px;
  padding: 10px;
  border: 1px solid #afb5bc;
  border-radius: 6px;
  background: none;
  outline: none;
  color: #cbd0d3;
  opacity: 0.7;
}

footer .wrap-footer .subscribe input::-webkit-input-placeholder {
  color: #cbd0d3;
  opacity: 0.7;
}

footer .wrap-footer .subscribe input:-ms-input-placeholder {
  color: #cbd0d3;
  opacity: 0.7;
}

footer .wrap-footer .subscribe input::-ms-input-placeholder {
  color: #cbd0d3;
  opacity: 0.7;
}

footer .wrap-footer .subscribe input::placeholder {
  color: #cbd0d3;
  opacity: 0.7;
}

footer .wrap-footer .subscribe .send {
  position: absolute;
  margin-top: 11px;
  margin-left: -30px;
}

footer .wrap-footer .subscribe span {
  display: block;
  margin-top: 12px;
  font-size: 11px;
  font-family: "Helvetica";
  color: #cbd0d3;
}

footer .wrap-footer .social a {
  margin: 10px;
}

@media only screen and (min-width: 1385px) {
  .world-news-block {
    width: 56% !important;
  }
  .primary .more-news {
    width: 37%;
  }
}
/*# sourceMappingURL=main.css.map */