/**
*
* Testing
*
**/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #f6f8f9;
}

.wall {
  margin: auto;
  max-width: 1160px;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 1255px) {
  .wall {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .wall {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 560px) {
  .wall {
    padding-left: 24px;
    padding-right: 24px;
  }
}

header {
  background-color: #f6f8f9;
  padding: 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .nav-responsive {
  display: none;
}

@media (max-width: 524px) {
  header .nav-responsive {
    display: block;
  }
}

header .nav-responsive .nav-resp-button {
  background-image: url("../images/menu.svg");
  width: 16px;
  height: 14px;
  cursor: pointer;
}

header .nav-responsive .resp {
  position: fixed;
  width: 0px;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  z-index: 6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

header .nav-responsive .menu-active {
  display: block;
  width: 100%;
  opacity: 1;
}

header .nav-responsive .resp-menu {
  background-color: #fff;
  width: 287px;
  -webkit-box-shadow: 0px 0 35px -2px #1a1a1a;
          box-shadow: 0px 0 35px -2px #1a1a1a;
}

header .nav-responsive .relative-menu {
  position: relative;
  height: 100vh;
}

header .nav-responsive .relative-menu .menu-footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #bdbfc0;
}

header .nav-responsive .relative-menu .menu-footer .menu-footer-cats {
  padding: 55px 40px 20px;
}

header .nav-responsive .relative-menu .menu-footer .menu-footer-cats ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

header .nav-responsive .relative-menu .menu-footer .menu-footer-cats ul li {
  margin: 0 5px 13px;
}

header .nav-responsive .relative-menu .menu-footer .menu-footer-cats ul li a {
  font-size: 11px;
  font-family: "Helvetica";
  font-weight: Bold;
  color: #fff;
  opacity: 0.5;
}

header .nav-responsive .relative-menu .menu-footer .footer-social {
  padding: 10px 40px 35px;
}

header .nav-responsive .relative-menu .menu-footer .footer-social img {
  margin-right: 20px;
}

header .nav-responsive .content-menu {
  padding: 39px 42px;
}

header .nav-responsive .content-menu .menu-logo {
  margin-bottom: 40px;
}

header .nav-responsive .content-menu .menu-cats ul li {
  padding-bottom: 20px;
}

header .nav-responsive .content-menu .menu-cats ul li .active-link {
  opacity: 1;
}

header .nav-responsive .content-menu .menu-cats ul li .profile {
  opacity: 1;
  color: #959798;
}

header .nav-responsive .content-menu .menu-cats ul li .profile .avatar-link {
  width: 16px;
  height: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

header .nav-responsive .content-menu .menu-cats ul li a {
  font-size: 11px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #343638;
  opacity: 0.5;
}

header .nav-responsive .content-menu .menu-cats ul li a img {
  float: left;
  margin-right: 30px;
  margin-top: 0.5px;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 524px) {
  header .logo a #LOGO {
    fill: #a6adb4;
  }
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 524px) {
  header .navbar nav {
    display: none;
  }
}

header .navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar nav ul li {
  margin: 0 10px;
}

header .navbar nav ul li a {
  font-family: "Helvetica";
  font-weight: 600;
  font-size: 11px;
  color: #343638;
  text-transform: uppercase;
  opacity: 0.5;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

header .navbar nav ul li a:hover {
  opacity: 1;
}

header .navbar nav ul li .active-link {
  opacity: 1;
}

header .login {
  margin: 0 0 0 39px;
}

header .login .menu-profile {
  position: absolute;
  display: none;
  background-color: #fff;
  right: 10px;
  margin-top: 15px;
  z-index: 7;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 15px #c8c8c8;
          box-shadow: 0 0 15px #c8c8c8;
}

header .login .menu-profile:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  right: 22px;
  background-color: white;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: -5px;
}

header .login .menu-profile ul li a {
  display: block;
  padding: 15px 40px;
  font-size: 13px;
  font-family: "Helvetica";
  color: #202124;
  border-bottom: 1px solid #e7e7e7;
  opacity: 0.2;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

header .login .menu-profile ul li a:hover {
  opacity: 0.8;
}

header .login .active-profile {
  display: block;
}

header .login .avatar-box {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #f6f8f9;
  cursor: pointer;
}

@media (max-width: 524px) {
  header .login .avatar-box {
    width: 20px;
    height: 20px;
  }
}

header .login .avatar-box img {
  position: absolute;
  max-width: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 524px) {
  header .login .avatar-box img {
    max-width: 30px;
  }
}

.primary-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

.primary-section .world-news-block {
  position: relative;
  width: 58%;
  height: 600px;
  background-image: url("../images/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 1920px) {
  .primary-section .world-news-block {
    width: 54%;
  }
}

@media (max-width: 768px) {
  .primary-section .world-news-block {
    width: 100%;
    height: 400px;
    z-index: 2;
  }
}

.primary {
  position: relative;
  overflow: hidden;
  height: 600px;
  margin-top: -600px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 768px) {
  .primary {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #ffffff;
    padding-bottom: 55px;
    margin-top: -320px;
  }
}

@media (max-width: 560px) {
  .primary {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 375px) {
  .primary {
    margin-top: -329px;
  }
}

.primary .world-block-info {
  position: relative;
  overflow: hidden;
  width: 50%;
}

@media (max-width: 768px) {
  .primary .world-block-info {
    width: 100%;
    z-index: 5;
  }
}

.primary .world-block-info h3 {
  padding: 0 0 40px;
  font-size: 24px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

@media (max-width: 768px) {
  .primary .world-block-info h3 {
    padding: 0 0 30px;
  }
}

.primary .world-block-info h2 {
  padding: 40px 0 5px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Helvetica";
  color: #ffffff;
}

@media (max-width: 768px) {
  .primary .world-block-info h2 {
    padding: 30px 0 5px;
  }
}

.primary .world-block-info article {
  font-family: "Helvetica";
  font-size: 16px;
  color: #ffffff;
}

.primary .world-block-info .btn-lmore {
  width: 134px;
  height: 40px;
  margin: 30px 0;
  color: #fff;
  font-size: 11px;
  font-family: "Helvetica";
  font-weight: bold;
  background-color: #fa6980;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.primary .world-block-info .btn-lmore:hover {
  -webkit-box-shadow: 0 0 5px #fa6980;
          box-shadow: 0 0 5px #fa6980;
}

.primary .more-news {
  width: 33%;
  overflow: hidden;
}

@media (min-width: 1385px) {
  .primary .more-news {
    width: 32%;
  }
}

@media (max-width: 768px) {
  .primary .more-news {
    background-color: #ffffff;
    width: 100%;
    margin-top: 100px;
  }
}

.primary .more-news .wrap-items {
  width: 100%;
  overflow: hidden;
}

.primary .more-news .title-news-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 40px 0px;
  padding: 0 0 35px;
  border-bottom: 1px solid #EBEDED;
}

@media (max-width: 768px) {
  .primary .more-news .title-news-arrows {
    padding: 0 0 25px;
  }
}

.primary .more-news .title-news-arrows .more-news-arrows {
  margin-top: 5px;
  margin-bottom: -5px;
}

.primary .more-news .title-news-arrows .more-news-arrows img {
  margin: 0px 0 10px 25px;
  cursor: pointer;
  outline: none;
}

.primary .more-news .title-news-arrows h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #202124;
}

.primary .more-news .item-more-nw {
  margin-bottom: 10px;
}

.primary .more-news .item-more-nw h3 {
  margin: 0 0 12px;
  font-size: 16px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #fa6980;
}

.primary .more-news .item-more-nw h2 {
  margin: 0 0 6px;
  font-size: 16px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #202124;
}

.primary .more-news .item-more-nw article {
  font-size: 16px;
  font-family: "Acumin-Regular";
  color: #a6adb4;
}

.primary .more-news .item-more-nw .item-more-data {
  margin: 18px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.primary .more-news .item-more-nw .item-more-data img {
  margin-right: 10px;
  margin-top: -3px;
}

.primary .more-news .item-more-nw .item-more-data span {
  font-size: 13px;
  font-family: "Acumin-Regular";
  color: #a6adb4;
}

.trending {
  margin: 40px 0;
}

@media (max-width: 768px) {
  .trending {
    margin: 0px 0 44px;
  }
}

.trending .trending-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trending .trending-heading h2 {
  font-size: 24px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #202124;
}

.trending .trending-heading .trending-arrows img {
  margin: 0 0 0 25px;
  cursor: pointer;
  outline: none;
}

.trending .trending-items {
  position: relative;
  overflow: hidden;
  margin: 30px 0 0;
  width: 100%;
  white-space: nowrap;
}

.trending .trending-items .swiper-slide {
  width: 360px;
  margin-right: 36px;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
}

.trending .trending-items .swiper-slide .item-img {
  position: relative;
  height: 180px;
  overflow: hidden;
}

.trending .trending-items .swiper-slide .item-img img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 360px;
}

@media (max-width: 630px) {
  .trending .trending-items .swiper-slide .item-img img {
    width: 100%;
  }
}

.trending .trending-items .swiper-slide .trending-info {
  padding: 43px 40px;
  overflow: hidden;
}

.trending .trending-items .swiper-slide .trending-info h2 {
  margin: 0 0 10px;
  font-family: "Helvetica";
  font-size: 16px;
  font-weight: bold;
  color: #202124;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trending .trending-items .swiper-slide .trending-info article {
  line-height: 1.6;
  margin: 0 0 15px;
  font-family: "Acumin-Regular";
  font-size: 13px;
  color: #a6adb4;
  white-space: pre-wrap;
}

.trending .trending-items .swiper-slide .trending-info .trending-data {
  margin: 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trending .trending-items .swiper-slide .trending-info .trending-data img {
  margin-right: 10px;
  margin-top: -3px;
}

.trending .trending-items .swiper-slide .trending-info .trending-data span {
  font-size: 13px;
  font-family: "Helvetica";
  color: #a6adb4;
}

.happening .happening-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.happening .happening-heading h2 {
  font-size: 24px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #202124;
}

.happening .happening-heading .happening-arrows img {
  margin: 0 0 0 25px;
  cursor: pointer;
  outline: none;
}

.happening .happening-items {
  margin-top: 30px;
}

.happening .happening-items .happening-wrap .hp-large-items {
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 1256px) {
  .happening .happening-items .happening-wrap .hp-large-items {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .happening .happening-items .happening-wrap .hp-large-items {
    width: 100%;
  }
}

@media (max-width: 498px) {
  .happening .happening-items .happening-wrap .hp-large-items {
    border-bottom: 2px solid #EBEDED;
  }
}

.happening .happening-items .happening-wrap .hp-large-items .lrg-item {
  position: relative;
  width: 760px;
  height: 430px;
  margin: 0 0 41px;
  border-radius: 6px;
  overflow: hidden;
}

@media (max-width: 1256px) {
  .happening .happening-items .happening-wrap .hp-large-items .lrg-item {
    width: 100%;
  }
}

.happening .happening-items .happening-wrap .hp-large-items .lrg-item .poster-lrg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1000px;
}

.happening .happening-items .happening-wrap .hp-large-items .lrg-item .lrg-item-inf {
  position: absolute;
  top: 0px;
  left: 39px;
  margin-right: 39px;
}

.happening .happening-items .happening-wrap .hp-large-items .lrg-item .lrg-item-inf h4 {
  margin-top: 43px;
  font-size: 16px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #ffffff;
}

.happening .happening-items .happening-wrap .hp-large-items .lrg-item .lrg-item-inf h2 {
  margin-top: 220px;
  margin-bottom: 10px;
  font-size: 24px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #ffffff;
}

.happening .happening-items .happening-wrap .hp-large-items .lrg-item .lrg-item-inf article {
  overflow: hidden;
  margin-bottom: 16px;
  font-size: 16px;
  font-family: "Helvetica";
  font-weight: normal;
  color: #ffffff;
}

@media (max-width: 602px) {
  .happening .happening-items .happening-wrap .hp-large-items .lrg-item .lrg-item-inf article {
    max-height: 45px;
  }
}

.happening .happening-items .happening-wrap .hp-large-items .lrg-item .lrg-item-inf .lrg-item-dt {
  margin: 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.happening .happening-items .happening-wrap .hp-large-items .lrg-item .lrg-item-inf .lrg-item-dt img {
  margin-right: 10px;
  margin-top: -3px;
}

.happening .happening-items .happening-wrap .hp-large-items .lrg-item .lrg-item-inf .lrg-item-dt span {
  font-size: 13px;
  font-family: "Helvetica";
  color: #a6adb4;
}

.happening .happening-items .happening-wrap .hp-small-items {
  display: inline-block;
  vertical-align: top;
  margin-left: 35px;
  overflow: hidden;
  width: 360px;
}

@media (max-width: 1256px) {
  .happening .happening-items .happening-wrap .hp-small-items {
    width: 30%;
    float: right;
  }
}

@media (max-width: 768px) {
  .happening .happening-items .happening-wrap .hp-small-items {
    width: 100%;
  }
}

@media (max-width: 498px) {
  .happening .happening-items .happening-wrap .hp-small-items {
    margin-top: 20px;
  }
}

.happening .happening-items .happening-wrap .hp-small-items .small-item {
  margin-bottom: 43px;
}

.happening .happening-items .happening-wrap .hp-small-items .small-item .small-item-post {
  position: relative;
  width: 360px;
  height: 210px;
  border-radius: 6px;
  overflow: hidden;
}

@media (max-width: 1256px) {
  .happening .happening-items .happening-wrap .hp-small-items .small-item .small-item-post {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .happening .happening-items .happening-wrap .hp-small-items .small-item .small-item-post {
    height: 180px;
  }
}

.happening .happening-items .happening-wrap .hp-small-items .small-item .small-item-post img {
  width: 360px;
}

@media (max-width: 500px) {
  .happening .happening-items .happening-wrap .hp-small-items .small-item .small-item-post img {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .happening .happening-items .happening-wrap .hp-small-items .small-item .small-item-post img {
    width: 100%;
    height: 185px;
  }
}

.happening .happening-items .happening-wrap .hp-small-items .small-item h2 {
  margin: 15px 0;
  font-size: 16px;
  font-family: "AcuminPro-Bold";
  color: #202124;
}

.happening .happening-items .happening-wrap .hp-small-items .small-item .small-itm-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.happening .happening-items .happening-wrap .hp-small-items .small-item .small-itm-date img {
  margin: -1px 10px 0 0;
}

.happening .happening-items .happening-wrap .hp-small-items .small-item .small-itm-date span {
  font-family: "Helvetica";
  font-size: 13px;
  color: #a6adb4;
}

.happening .happening-items .happening-wrap .hp-small-items .small-item .small-itm-date span a {
  color: #a6adb4;
  text-decoration: underline;
}

.story {
  margin-top: 15px;
  margin-bottom: 92px;
  border-bottom: 2px solid #ebeded;
}

@media (max-width: 848px) {
  .story {
    border-bottom: none;
    margin-bottom: 38px;
  }
}

.story .story-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.story .story-heading .back-to {
  display: none;
}

@media (max-width: 525px) {
  .story .story-heading .back-to {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.story .story-heading .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 525px) {
  .story .story-heading .navigation {
    display: none;
  }
}

.story .story-heading .navigation img {
  float: left;
  margin-top: 0;
  margin-right: 15px;
}

.story .story-heading .navigation span {
  margin: 0 10px;
  font-size: 11px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #202124;
}

.story .story-heading .navigation .category-active {
  color: #a6adb4;
}

.story .story-heading .filter {
  padding: 9px 9px 6px;
  border-radius: 6px;
  border: 1px solid #ebeded;
  cursor: pointer;
}

@media (max-width: 525px) {
  .story .story-heading .filter {
    border: none;
  }
}

.story .story-filter {
  height: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 6px;
}

@media (max-width: 858px) {
  .story .story-filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.story .story-filter .wrd-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 50%;
  background-image: url("../images/story-cv1.png");
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

@media (max-width: 858px) {
  .story .story-filter .wrd-news {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 400px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    background-size: 100% 400px;
  }
}

@media (max-width: 447px) {
  .story .story-filter .wrd-news {
    height: 388px;
  }
}

.story .story-filter .wrd-news .wrd-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.story .story-filter .wrd-news .wrd-inf h3 {
  margin-bottom: 15px;
  padding: 0 0 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #ffffff;
}

.story .story-filter .wrd-news .wrd-inf h3:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  bottom: 0px;
  background-color: #fa6980;
}

.story .story-filter .wrd-news .wrd-inf span {
  padding: 10px 50px 50px;
  font-size: 16px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 447px) {
  .story .story-filter .wrd-news .wrd-inf span {
    padding: 10px 20px 30px;
  }
}

.story .story-filter .wrd-news .wrd-inf .wrd-avatar {
  position: relative;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
}

.story .story-filter .wrd-news .wrd-inf .wrd-avatar img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-47%);
          transform: translateX(-47%);
  max-width: 33px;
}

.story .story-filter .filter-tool {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 858px) {
  .story .story-filter .filter-tool {
    width: 100%;
    padding: 90px 0;
  }
}

@media (max-width: 447px) {
  .story .story-filter .filter-tool {
    padding: 40px 0;
  }
}

@media (max-width: 447px) {
  .story .story-filter .filter-tool .select-wrap {
    padding: 0 30px;
    width: 100%;
  }
}

.story .story-filter .filter-tool .select-wrap .select-tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  margin: 0 0 30px;
}

@media (max-width: 447px) {
  .story .story-filter .filter-tool .select-wrap .select-tool {
    width: 100%;
  }
}

.story .story-filter .filter-tool .select-wrap .select-tool h4 {
  margin: 0 0 10px;
  font-size: 13px;
  font-family: "AcuminPro-Bold";
  color: #202124;
}

.story .story-filter .filter-tool .select-wrap .select-tool .select {
  width: 100%;
}

.story .story-filter .filter-tool .select-wrap .select-tool .select #standard-select {
  width: 100%;
  padding: 7px;
  border: 2px solid #ebeded;
  border-radius: 6px;
  font-size: 13px;
  font-family: "Helvetica";
  color: #a6adb4;
  outline: none;
}

.story .story-filter .filter-tool .select-wrap .select-tool .select #standard-select .rae {
  background: #000 !important;
}

.story .story-filter .filter-tool .select-wrap .select-tool .search-tool input {
  width: 100%;
  padding: 7px;
  border: 2px solid #ebeded;
  border-radius: 6px;
  font-size: 13px;
  font-family: "Helvetica";
  color: #a6adb4;
  outline: none;
}

.story .story-filter .filter-tool .select-wrap .search-btn {
  width: 134px;
  height: 40px;
  padding: 0 30px;
  background-color: #fa6980;
  font-size: 11px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #ffffff;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
}

.story .filter-tools {
  display: none;
  margin: 10px 0;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 6px;
}

.story .show-tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .story .show-tool {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.story .categories-filter {
  width: 35%;
}

@media (max-width: 767px) {
  .story .categories-filter {
    width: 100%;
    margin-bottom: 15px;
  }
}

.story .categories-filter h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-family: "Helvetica";
  color: #5c5c5c;
  cursor: pointer;
}

.story .categories-filter h2 img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 10px;
  -webkit-filter: invert(86%) sepia(2%) saturate(18%) hue-rotate(2deg) brightness(105%) contrast(79%);
          filter: invert(86%) sepia(2%) saturate(18%) hue-rotate(2deg) brightness(105%) contrast(79%);
}

.story .cats-filter {
  background-color: #fff;
  border-radius: 6px;
  margin-top: 15px;
  padding: 0 0px;
}

.story .cats-filter li a {
  float: left;
  padding: 10px;
  margin: 0 10px 5px 0;
  color: #adadad;
  font-size: 13px;
  font-family: "Acumin-Regular";
  background-color: #f6f8f9;
  border-radius: 6px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.story .cats-filter li a:hover {
  color: #fff;
  background-color: #fa6980;
}

.story .cats-filter input {
  padding: 15px 20px;
  margin: 5px;
  font-family: "Acumin-Regular";
  border: 0;
  border-radius: 6px;
  background-color: #f6f8f9;
  outline: none;
}

.story .active-filter {
  display: block;
}

.story .article-review {
  border-top: 2px solid #ebeded;
  border-bottom: 2px solid #ebeded;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 40px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 858px) {
  .story .article-review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.story .article-review .half-rev {
  padding-right: 40px;
}

.story .article-review .half-rev .aouthor-avatar {
  position: relative;
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
}

.story .article-review .half-rev .aouthor-avatar img {
  position: absolute;
  top: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 37px;
}

.story .article-review .half-rev h2 {
  width: 360px;
  font-size: 24px;
  font-family: "AcuminPro-Bold";
  color: #202124;
}

@media (max-width: 858px) {
  .story .article-review .half-rev h2 {
    width: 100%;
    margin-bottom: 70px;
  }
}

.story .article-review .article-rev .col-row-st {
  line-height: 26px;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-fill: auto;
          column-fill: auto;
  height: 200px;
  color: #a6adb4;
  font-family: "Helvetica";
  font-size: 14px;
}

@media (max-width: 858px) {
  .story .article-review .article-rev .col-row-st {
    -webkit-column-gap: 20px;
            column-gap: 20px;
    height: auto;
  }
}

@media (max-width: 485px) {
  .story .article-review .article-rev .col-row-st {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.story .article-review .article-rev .col-row-st .article-data {
  margin-top: 15px;
  font-size: 13px;
}

.story .article-review .article-rev .col-row-st .article-data img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.story .aditional-article {
  width: 100%;
  overflow: hidden;
}

.story .aditional-article .adit-img {
  overflow: hidden;
  position: relative;
  height: 500px;
  border-radius: 6px;
  margin-bottom: 20px;
}

@media (max-width: 790px) {
  .story .aditional-article .adit-img {
    height: 200px;
  }
}

.story .aditional-article .adit-img img {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.story .aditional-article article {
  line-height: 20px;
  width: 60%;
  font-family: "Helvetica";
  font-size: 14px;
  color: #a6adb4;
  margin-bottom: 25px;
}

@media (max-width: 848px) {
  .story .aditional-article article {
    width: 100%;
  }
}

.story .nav-pages {
  display: none;
}

@media (max-width: 850px) {
  .story .nav-pages {
    display: block;
  }
}

.story .nav-information {
  font-size: 16px;
  font-family: "Helvetica";
  color: #202124;
  font-weight: bold;
  padding: 20px 0px 40px;
  border-bottom: 2px solid #EBEDED;
}

.story .page-change {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.story .page-change ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.story .page-change ul .active-num a {
  font-weight: bold;
  border-bottom: 2px solid #FA6980;
  color: #202124;
}

.story .page-change ul li {
  padding: 0px 10px;
}

.story .page-change ul li a {
  padding: 10px 0;
  font-size: 11px;
  font-family: "Helvetica";
  color: #a6adb4;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.story .page-change ul li a img {
  float: left;
  margin-top: 7px;
}

.story .page-change ul li a:hover {
  color: #202124;
  font-weight: bold;
  border-bottom: 2px solid #FA6980;
}

footer {
  position: relative;
  bottom: 0;
  margin-top: 30px;
  background-color: #a6adb4;
}

@media (max-width: 524px) {
  footer {
    display: none;
  }
}

footer .wrap-footer {
  max-width: 1160px;
  width: 100%;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  footer .wrap-footer .footer-logo {
    width: 30%;
  }
}

@media (max-width: 1255px) {
  footer .wrap-footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  footer .wrap-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer .wrap-footer .footer-cats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 768px) {
  footer .wrap-footer .footer-cats {
    margin-right: 50px;
  }
}

footer .wrap-footer .footer-cats .block-cats {
  margin: 0 15px;
}

footer .wrap-footer .footer-cats .block-cats li a {
  display: block;
  margin: 0 0 10px;
  font-size: 13px;
  font-family: "Helvetica";
  font-weight: bold;
  color: #cbd0d3;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

footer .wrap-footer .footer-cats .block-cats li a:hover {
  color: #f1f1f1;
}

footer .wrap-footer .subscribe input {
  width: 262px;
  padding: 10px;
  border: 1px solid #afb5bc;
  border-radius: 6px;
  background: none;
  outline: none;
  color: #cbd0d3;
  opacity: 0.7;
}

footer .wrap-footer .subscribe input::-webkit-input-placeholder {
  color: #cbd0d3;
  opacity: 0.7;
}

footer .wrap-footer .subscribe input:-ms-input-placeholder {
  color: #cbd0d3;
  opacity: 0.7;
}

footer .wrap-footer .subscribe input::-ms-input-placeholder {
  color: #cbd0d3;
  opacity: 0.7;
}

footer .wrap-footer .subscribe input::placeholder {
  color: #cbd0d3;
  opacity: 0.7;
}

footer .wrap-footer .subscribe .send {
  position: absolute;
  margin-top: 11px;
  margin-left: -30px;
}

footer .wrap-footer .subscribe span {
  display: block;
  margin-top: 12px;
  font-size: 11px;
  font-family: "Helvetica";
  color: #cbd0d3;
}

@media (max-width: 768px) {
  footer .wrap-footer .social {
    margin-top: 50px;
    margin-right: 20px;
  }
}

footer .wrap-footer .social a {
  margin: 10px;
}
/*# sourceMappingURL=main.css.map */